@import './variable'; 

@mixin background($background-color, $height, $width) {
    width: $width; 
    background-color: $background-color; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: $height; 
 
}

@mixin box($height, $width) {
    background-color: $white; 
    height: $height; 
    width: $width; 
    border-radius: 25px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-evenly; 
}