@import './variable'; 

@mixin name($font-size) {
    font-family: 'Raleway', sans-serif;
    font-size: $font-size; 
    color: #6200B3; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

@mixin main-buttons($height, $width, $font-size) {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    height: $height; 
    width: $width; 
    font-size: $font-size; 
    border-radius: 25px; 
    background-color: white; 
    border-color: $electric-blue; 
}