$dark: #0e0b16; 
$white: #FCFCFC; 
$gray: #DBDBDB; 
$electric-blue: #4717f6; 
$desktop-font-size: 4vmax; 

$margin-bottom-name: 4vmax; 

$margin-button: 4vmax; 
$height-button: 4vmax; 
$width-button: 12vmax; 
$button-font-size: 1.5vmax; 


