@import "./_background"; 
@import "./_fitbook"; 

.display-container-create {
    @include background($white, 100%, 100%); 
    flex-direction: column; 
    .header{
        margin-bottom: 3vmax; 
    }
    .input-row {
        display: flex; 
justify-content: space-around; 
        flex-direction: column; 
        .input{
            margin: 1vmax;
        }
    }


}