@import "./_background";
@import "./_fitbook";

.display-container-dash {
  @include background($white, 100%, 100%);
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  .header-bar {
    width: 100%; 
    border-color: #B0B0B0; 
    border-bottom-style: solid; 
    border-width: 1px; 
    align-items: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: $white; 
    @include name(4vmax); 
    .box-medium-dash-1 {
      @include box(60%, 40%);
      display: flex; 
      justify-content: center; 
      align-items: center; 
      margin: 0; 
      
      .app-name-dash {
        @include name($desktop-font-size);
      }
      .buttons {
        @include main-buttons(
          $height-button,
          $width-button,
          $button-font-size
        );
      }
    }
  }
  .box-medium-dash {
    align-items: center; 
  }
}

@media screen and (max-width: 780px){
  .box-medium-dash {
    @include box(70%, 100%); 
    flex-wrap: wrap; 
    word-wrap: break-word; 
    border-radius: 0; 
  }
}

