@import "./_background";
@import "./_fitbook";

.display-container-dash {
  @include background($gray);
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  .header-bar {
    align-items: center;
    @include name(4vmax, 8vmax); 
    .box-medium {
      @include box(60%, 40%, 10%);
      align-content: center;
      .app-name-dash {
        @include name($desktop-font-size, $margin-bottom-name);
      }
      .button {
        @include main-buttons(
          $margin-button,
          $height-button,
          $width-button,
          $button-font-size
        );
      }
    }
  }
  .box-medium-dash {
    align-items: center; 
  }
}
