/* for desktop */

/* whole first page */
.display-container {
  width: 100vw;
  height: 100vh;
  background-color: #0e0b16;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* first page box */
.box-medium {
  width: 50vw;
  height: 60vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  border-radius: 25px;
}

/* app title */
.app-name {
  margin-top: 10vh;
  margin-bottom: 8vh;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 6vh;
  color: rgb(35, 7, 134);
}

/* login button */
.button {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  font-size: 2vh;
  border-radius: 25px;
  margin-bottom: 5vh;
  height: 5vh;
  width: 25vw;
  border: 2px, 2px, 2px, 2px;
  border-color: #4717f6;
  background-color: white;
}

/*for mobile */
@media only screen and (max-width: 450px) {
  .box-medium {
    width: 100vw;
    height: 100vh;
  }
  .app-name {
    font-size: 6vh;
  }
}
