@import "./_background"; 
@import "./_fitbook"; 

.post-container {
    width: 100%; 
    height: 60%; 
}

.post-style{
font-family: $font; 
}

.img-container {
    margin-left: auto; 
    margin-right: auto; 
   width: 50%; 
   height: auto; 
//    justify-content: center; 
margin-bottom: 10%; 
}
.input-photo {
    width: 100%; 
    height: 50%; 
}

.input-full-width {
color: pink; 
}