@import "./_background"; 
@import "./_fitbook"; 

.post-container {
    width: 50%; 
    height: 60%; 
}

.img-container {
   width: 100px; 
   height: 100px; 
}
.input-photo {
    width: 50px; 
    height: 60px; 
}

.input-full-width {
color: pink; 
}