@import "./_background";
@import "./_fitbook";
@import "./dashboard"; 

.profile {
    @include background($white, 100%, 100%);
    display: flex; 
    flex-direction: column;
     align-items: center;
  justify-content: center; 
  .header-bar {
    @include header-bar(); 
    @include name(3vmax); 
}
.just-names {
        display: flex; 
    flex-direction: row;
         align-items: center;
  justify-content: space-around; 

  .img-container {
    height: 250px; 
    width: auto; 
    margin: 0; 
    border-radius: 50%; 
  }
  .username {
    font-family: $font; 
    font-size: 100%; 
    margin-bottom: 1vmax; 
    margin-top: 1vmax; 
  }
  .names {
    font-family: $font; 
    font-size: 100%; 
  }
  .follow-button {
    font-family: $font; 
    font-size: 100%; 
    background-color: $white; 
    border-color: #011936; 
  }
}
}

@media screen and (max-width: 780px){
  .posts {
    @include box(70%, 100%); 
    flex-wrap: wrap; 
    word-wrap: break-word; 
    border-radius: 0; 
  }
}

