@import "./_background"; 
@import "./_fitbook"; 

.search {
    @include background(white, 100%, 100%);
    display: flex; 
    flex-direction: column;  

    .header-bar {
        @include header-bar(); 
        @include name(3vmax); 
    }

    .searching {
        
         width: 30vw;
         height: 5vh; 
         font-size: 100%; 

    }
    .results {
        text-decoration: none; 
        color: black; 
        font-family: $font; 
        
    }
}
